<!DOCTYPE html>
<html lang="en">
​

<head>
    <meta charset="UTF-8">
    <title>Eat Da Burger!</title>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    ​
    <!-- Local CSS -->
    <link rel="stylesheet" href="assets/style.css" type="text/css" />
    <!-- Latest compiled and minified JavaScript -->

    ​
    <!-- Link to Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
</head>
​

<body>
    {{{ body }}}
    ​
</body>

</html>